<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="backend/public/style.css">
</head>
<body>
    <h1>The book</h1>
    <p>check out these posts or create a new one!</p>
    <a href="http://localhost:3000/posts/new">add a New Post!</a>
    <% for(post of posts){ %>
        <div class="post">
            <h3 class="username">@<%=post.username %> </h3>
            <p class="content"><%= post.content %></p>
            <br>
            <a href="http://localhost:3000/posts/<%=post.id%>">See in detail</a>
            <a href="http://localhost:3000/posts/<%=post.id%>/edit">edit</a>
        </div>
    <% } %>

</body>
</html>

